<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> | DT207G - labb 1
    </title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="grid-container">
        <header>
            <div class="menu-container">
                <nav>
                    <ul>
                        <li><a href="/" class="active">Mina kurser</a></li>
                        <li><a href="/addcourse">Lägg till kurs</a></li>
                        <li><a href="/changecourse">Ändra kurs</a></li>
                        <li><a href="/about">Om sidan</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>

            <h1>Mina kurser</h1>

            <!--Tabell med statisk data-->
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Kurskod</th>
                            <th>Kursnamn</th>
                            <th>Progression</th>
                            <th>Syllabus</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>

                    <!--- Utskrift från databas -->
                    <% if(locals.rows.length> 0) { %>
                        <% locals.rows.forEach((row)=> { %>
                            <tbody>
                                <tr>
                                    <td>
                                        <%= row.coursecode %>
                                    </td>
                                    <td>
                                        <%= row.coursename %>
                                    </td>
                                    <td>
                                        <%= row.progression %>
                                    </td>
                                    <td><a href="<%= row.syllabus %>">Kursinfo</a>
                                    </td>
                                    <td><a href="/changecourse" class="tdBtn">Ändra</a>
                                        <a href="/delete/<%= row.id %>" class="tdBtn">Radera</a>
                                    </td>
                                </tr>
                            </tbody>
                            <% }); %>
                                <% } %>
                </table>
        </main>
    </div>
</body>

</html>